body {
  background-color: #090A0E;
  color: white;
}

.max-center {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: #0F1014;

  padding: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-cover {
  width: 90%;
}

.movie-nocover {
  width: 100%;
  height: 358px;
}

.movie-card img {
  border-radius: 20px;
  transition: 0.5s ease;
}

.movie-card img:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero {
  position: relative;
  min-height: 600px;
  background-position: center top;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #434343 0%, black 50%);
  opacity: .5;

}

.hero>* {
  z-index: 100;
}

.hero-content {
  max-width: 70%;
  padding-bottom: 60px;
}

.hero-title {
  font-size: 70px;
  margin: 0;
  font-weight: lighter;
}

.hero-overview {}

.trailer-button {
  background-color: #0F1014;
  color: white;
  border: 1px solid white;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
}

.youtube-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.close-button {
  position: absolute;
  z-index: 10;
  bottom: 50px;
  right: 50px;
}